################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SY_MES/FileContentIndex/6188ed1d-4fb2-4bf7-a269-3860099bbab0.vsidx
/.vs/SY_MES/FileContentIndex
